<div class="card-deck container" style="width: 400px">
      	<div class="card ">
	        <div class="card-body ">
	          <ul class="list-group">
	            <li class="list-group-item list-group-item-success"><i class="fa fa-briefcase" style="font-size:20px;"></i>Caption : <%= interview.topic %></li>
	            <li class="list-group-item list-group-item-success"><i class="fa fa-user"style="font-size:20px;"></i>Designation : <%= interview.role %></li>
	            <li class="list-group-item list-group-item-success"><i class="fa fa-map-marker"style="font-size:20px;"></i>Scheduled at : <%= interview.schedule_at%></li>
	           	<li class="list-group-item list-group-item-success"><i class="fa fa-map-marker"style="font-size:20px;"></i>End at : <%= interview.end_time%></li>
	            <li class="list-group-item list-group-item-success"><i class="fa fa-clock-o"style="font-size:20px;"></i>Meeting Link : <%= interview.meet_link %></li>	            <li class="list-group-item list-group-item-success"><i class="fa fa-clock-o"style="font-size:20px;"></i>Interviewer Email : <%= interview.user.email %></li>
	            <li class="list-group-item list-group-item-success"><i class="fa fa-clock-o"style="font-size:20px;"></i>Interviewer Phone : <%= interview.user.Phone %></li>
	          </ul>
	        </div>

	        <% if interview.participants %>
	          <% interview.participants.each do |participant| %>
	            <div class="participant">
	              <div class="participant-interviewee_id">
	                <%= participant.user.user_name %>
	              <%= link_to "Remove", interview_participant_path(interview, participant), method: :delete, data: { confirm: "Are you sure?" } %>
	                
	              </div>
	            </div>
	          <% end %>
	        <% end %>
	        
	        <div class="participant-form">
	          <%= form_for [interview, interview.participants.new] do |f| %>
	            <%= f.number_field :user_id, placeholder: 'Add a participant...' %>
	          <% end %>
	        </div>
	        <br>
	    	<div class="card-footer">
				<%= link_to "Edit Interview", edit_interview_path(interview), :class => "btn btn-default" %>
				<button type="button" class="btn btn-primary">Send Reminder</button>
				<%= link_to "Delete Interview", interview_path(interview), method: :delete, data: { confirm: "Are you sure you want to delete this interview?" }, :class => "btn btn-danger", remote: true %>
	        </div>

	        <hr>
      	</div>
    </div>